* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.form-button {
  border: none;
  margin-bottom: 57px;
  text-align: center;
}
@media (min-width: 1440px) {
  .form-button {
    margin-bottom: 30px;
  }
}

.form__button {
  width: 218px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 4px 10px #404040;
}

.functioning-button {
  display: flex;
  align-items: center;
  position: relative;
  height: 72px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 15px #262626;
  margin-bottom: 25px;
  background: #F7F7F7;
}
@media (min-width: 1440px) {
  .functioning-button {
    width: 31%;
    margin-bottom: 0;
  }
}

.functioning-button > p {
  font-size: 16px;
  font-weight: bold;
}

.card-button {
  position: relative;
  top: 55px;
  padding-bottom: 40px;
  width: 100%;
  border: none;
  display: flex;
  justify-content: center;
  background: #F7F7F7;
}

footer {
  background: #353535;
  padding: 22px 25px;
}
@media (min-width: 1440px) {
  footer {
    padding: 57px 26px 30px;
  }
}
footer img {
  font-size: 18px;
  width: 100px;
  margin-bottom: 16px;
  filter: invert(100%);
}
@media (min-width: 1440px) {
  footer img {
    margin: 0 0 0 13px;
  }
}
@media (min-width: 1440px) {
  footer nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}

@media (min-width: 1440px) {
  .footer {
    display: flex;
  }
}
.footer__nav__text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 7px;
}
.footer__nav__text--blod {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}
@media (min-width: 1440px) {
  .footer__nav__text {
    margin: 0 3px;
  }
  .footer__nav__text a {
    display: inline-block;
    width: 168px;
  }
  .footer__nav__text--blod {
    width: 130px;
    margin: 0 3px;
  }
}
.footer__nav__content {
  margin-bottom: 7px;
}
@media (min-width: 1440px) {
  .footer__nav__content {
    display: flex;
    margin-bottom: 0;
  }
}
.footer a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
}
.footer i {
  font-size: 13px;
  width: 8px;
  color: #FFFFFF;
  margin-right: 11px;
}

form {
  display: flex;
  flex-direction: column;
}

.form__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
  background: #EAEAEA;
}
.form__content__icon {
  width: 12px;
  height: 16px;
  margin-right: 17px;
}
.form__content__text {
  font-size: 16px;
  border: none;
  background: #EAEAEA;
  width: 109px;
}

body {
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
}

main {
  background: #FFFFFF;
}

header {
  display: flex;
  justify-content: center;
  height: 63px;
  z-index: 1;
  box-shadow: 0px 2px 4px #262626;
}
@media (min-width: 1440px) {
  header {
    height: 96px;
  }
}
header img {
  width: 162px;
  height: 27px;
  margin-top: 23px;
  position: relative;
  right: 20px;
}
@media (min-width: 1440px) {
  header img {
    width: 200px;
    height: 34px;
    margin-top: 30px;
  }
}
header a {
  width: 100%;
  text-align: center;
}
header i, header p {
  color: #000000;
  padding: 24px 0 0 24px;
  float: left;
}
@media (min-width: 1440px) {
  header i, header p {
    padding-top: 40px;
  }
}
header p {
  color: #FFFFFF;
}

form .title, .text {
  display: flex;
  justify-content: center;
}

form {
  background: #F7F7F7;
}
form h2 {
  width: 275px;
  font-style: 24px;
  font-weight: 700;
  text-align: center;
  margin: 39px 0 14px;
}
@media (min-width: 1440px) {
  form h2 {
    width: 645px;
    font-size: 40px;
    margin: 30px 0 0;
  }
}
form p {
  font-size: 18px;
  font-weight: 300;
  width: 315px;
  text-align: center;
  margin: 0 0 19px;
}
@media (min-width: 1440px) {
  form p {
    width: 531px;
    margin: 18px 0 30px;
  }
}

.functioning {
  background: #FFFFFF;
}
.functioning h2 {
  margin: 0 0 26px 20px;
  padding-top: 48px;
}
@media (min-width: 1440px) {
  .functioning h2 {
    width: 1088px;
    margin-right: auto;
    margin-left: auto;
  }
}
.functioning__content {
  display: flex;
  flex-direction: column;
  padding: 0 20px 68px 32px;
}
@media (min-width: 1440px) {
  .functioning__content {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    width: 1088px;
    margin: auto;
  }
}
.functioning__content i {
  font-size: 18px;
  color: #9356DC;
  margin: 0 20px 0 35px;
}
.functioning__content__number {
  font-size: 14px;
  color: #FFFFFF;
  width: 24px;
  height: 24px;
  background: #9356DC;
  border: none;
  border-radius: 12px;
  position: absolute;
  left: -12px;
}
.functioning__content__number p {
  font-size: 16px;
  font-weight: 500;
  margin: 4px 0 0 7px;
}

.restaurant {
  background: #F7F7F7;
}
@media (min-width: 1440px) {
  .restaurant {
    width: 1088px;
    margin: auto;
  }
}
.restaurant h2 {
  padding: 54px 0 20px 20px;
}
@media (min-width: 1440px) {
  .restaurant h2 {
    margin: 30px 0 0;
  }
}
.restaurant a {
  color: #000000;
  text-decoration: none;
}
.restaurant img {
  height: 174px;
  margin: 0 17px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
@media (min-width: 1440px) {
  .restaurant img {
    width: 490px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .restaurant--desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.restaurant__card {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .restaurant__card {
    width: 490px;
    margin: 27px 0 30px 0;
  }
}
.restaurant__card__content {
  height: 77px;
  margin: 0 17px 17px;
  border-radius: 0 0 15px 15px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
}
@media (min-width: 1440px) {
  .restaurant__card__content {
    width: 490px;
    margin: 0;
  }
}
.restaurant__card__content__list {
  width: 80%;
  margin-left: 13px;
}
.restaurant__card__content__list h3 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 16px;
}
.restaurant__card__content__list p {
  font-size: 17px;
  font-weight: 300;
  margin-top: 5px;
}
.restaurant__card__content__item {
  position: absolute;
  right: 42px;
  bottom: 50px;
}
.restaurant__card__content__item i {
  font-size: 22px;
}
.restaurant__item {
  position: relative;
}

.fond img {
  width: 100%;
}
@media (min-width: 1440px) {
  .fond img {
    height: 418px;
    object-fit: cover;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #F7F7F7;
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 55px;
}
@media (min-width: 1440px) {
  .card {
    width: 1055px;
    margin: auto;
  }
}
.card__title {
  display: flex;
  position: relative;
  top: 15px;
}
@media (min-width: 1440px) {
  .card__title {
    justify-content: center;
  }
}
.card h1 {
  font-size: 28px;
  font-weight: 400;
  font-family: "Shrikhand";
  width: 90%;
  margin: 17px 0 0 17px;
}
@media (min-width: 1440px) {
  .card h1 {
    width: 261px;
    margin: 36px 0 0;
  }
}
.card i {
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
  margin: 25px 41px 0 0;
  width: 10%;
  float: right;
}
@media (min-width: 1440px) {
  .card i {
    width: 46px;
    margin: 46px 0 0;
  }
}
.card__menu {
  margin: 0 13px;
  position: relative;
  top: 15px;
}
@media (min-width: 1440px) {
  .card__menu {
    margin: 0 210px;
  }
}
.card__menu h2 {
  margin: 40px 0 0;
  font-size: 16px;
  font-weight: 300;
}
.card__menu section > p {
  color: #F7F7F7;
  width: 40px;
  height: 6px;
  border-bottom: 3px solid #99E2D0;
}
.card__menu__content {
  display: flex;
  width: 100%;
  background: #FFFFFF;
  margin-top: 12px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4.01149px 15.0431px #1a1a1a;
}
.card__menu__content__list {
  width: 90%;
}
.card__menu__content__list h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 12px 0 0 15px;
}
.card__menu__content__list > p {
  font-size: 15px;
  font-weight: 300;
  margin: 5px 0 12px 15px;
}
.card__menu__content__price {
  width: 10%;
}
.card__menu__content__price > p {
  font-size: 15px;
  font-weight: 700;
  margin: 37px 15px 0 0;
  float: right;
}

/*# sourceMappingURL=style.css.map */
