footer {
    background: $color-footer;
    padding: 22px 25px;
    @media (min-width: 1440px) {
        padding: 57px 26px 30px;
    }
    img {
        font-size: 18px;
        width: 100px;
        margin-bottom: 16px;
        filter: invert(100%);
        @media (min-width: 1440px) {
            margin: 0 0 0 13px;
        }
    }
    nav {
        @media (min-width: 1440px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
        }
    }
}
.footer {
    @media (min-width: 1440px) {
        display: flex;
    }
    &__nav {
        &__text {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 7px;
            &--blod {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 7px;
            }
            @media (min-width: 1440px) {
                a {
                    display:inline-block;
                    width: 168px;
                }
                margin: 0 3px;
                &--blod {
                     width: 130px;
                     margin: 0 3px;
                }
            }
        }
        &__content {
            margin-bottom: 7px;
            @media (min-width: 1440px) {
                display: flex;
                margin-bottom: 0;
            }
        }
    }
    a {
        color: $color-white;
        text-decoration: none;
        font-size: 16px;
    }
    i {
        font-size: 13px;
        width: 8px;
        color: $color-white;
        margin-right: 11px;
    }
}