footer {
    background: $color-footer;
    padding: 22px 25px;
    img {
        font-size: 18px;
        width: 100px;
        margin-bottom: 16px;
        filter: invert(100%);
    }
    .nav__text {
        margin-bottom: 7px;
    }
    a {
        color: $color-white;
        text-decoration: none;
        font-size: 16px;
    }
    i {
        font-size: 11px;
        width: 8px;
        color: $color-white;
        margin-right: 11px;
    }
}