form {
    display: flex;
    flex-direction: column;
}
.form {
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px;
        background: $color-form;
        &__icon {
            width: 12px;
            height: 16px;
            margin-right: 17px;
        }
        &__text {
            font-size: 16px;
            font-weight: 500;
            border: none;
            background: $color-form;
            width: 109px;
        }
    }
}
