form {
    display: flex;
    flex-direction: column;
    .form-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px;
        background: $colour-form;
        &-icon {
            width: 12px;
            height: 16px;
            margin-right: 17px;
        }
        &-txt {
            font-size: 16px;
            border: none;
            background: $colour-form;
        }
    }
}
