.fond {
    img {
        width: 100%;
        @media (min-width: 1440px) {
            height: 418px;
            object-fit: cover;
            

        }
    }
}
.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $color-body;
    border-radius: 40px 40px 0 0;
    position: relative;
    bottom: 55px;
    @media (min-width: 1440px) {
        width: 1055px;
        margin: auto;
    }
    &__title {
        display: flex;
        position: relative;
        top: 15px;
        @media (min-width: 1440px) {
            justify-content: center;
        }
    }
        h1 {
            font-size: 28px;
            font-weight: 400;
            font-family: $fond-family-title;
            width: 90%;
            margin: 17px 0 0 17px;
            @media (min-width: 1440px) {
                width: 267px;
                margin: 36px 0 0;
            }
        }
        
    &__menu {
        margin: 0 13px;
        position: relative;
        top: 15px;
        @media (min-width: 1440px) {
            margin: 0 210px;
        }
        h2 {
            margin: 40px 0 0;
            font-size: 16px;
            font-weight: 300;
        }
        section > hr {
            width: 40px;
            margin: 6px 0 24px;
            border-top: 3px solid $color-tertiaire;
            border-left: none;
        }
    }
}
.load {
    &__entree {
        &__1 {
            animation: card-load 4500ms both;
        }
        &__2 {
            animation: card-load 4500ms 500ms both;
        }
        &__3 {
            animation: card-load 4500ms 1000ms both;
        }
        &__4 {
            animation: card-load 4500ms 1300ms both;
        }
    }
    &__dish {
        &__1 {
            animation: card-load 4500ms 1500ms both;
        }
        &__2 {
            animation: card-load 4500ms 2000ms both;
        }
        &__3 {
            animation: card-load 4500ms 2500ms both;
        }
    }
    &__dessert {
        &__1 {
            animation: card-load 4500ms 3000ms both;
        }
        &__2 {
            animation: card-load 4500ms 3500ms both;
        }
        &__3 {
            animation: card-load 4500ms 4000ms both;
        }
    }
}