.home {
    h1 {
        display: none;
    }
}
form .title, .text {
    display: flex;
    justify-content: center;
}
form {
    background: $color-body;
    h2 {
        width: 275px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin: 39px 0 14px;
        @media (min-width: 1440px) {
            width: 645px;
            font-size: 40px;
            margin: 30px 0 0;
        }
    }
    p {
        font-size: 18px;
        font-weight: 300;
        width: 315px;
        text-align: center;
        margin: 0 0 19px;
        @media (min-width: 1440px) {
            width: 531px;
            margin: 18px 0 30px;
        }
    }
}
.functioning {
    background: $color-white;
    h2 {
        margin: 0 0 26px 20px;
        padding-top: 48px;
        @media (min-width: 1440px) {
            width: 1088px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        padding: 0 20px 68px 32px;
        @media (min-width: 1440px) {
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 50px;
            width: 1088px;
            margin: auto;
            }
        i {
            font-size: 18px;
            color: $color-primaire;
            margin: 0 20px 0 35px;
        }
        &__number {
            font-size: 14px;
            color: $color-white;
            width: 24px;
            height: 24px;
            background: $color-primaire;
            border: none;
            border-radius: 12px;
            position: absolute;
            left: -12px;
            p {
                font-size: 16px;
                font-weight: 500;
                margin: 4px 0 0 7px;
            }
        }
    }
}
.restaurant {
    width: 100%;
    background: $color-body;
    &__title {
        @media (min-width: 1440px) {
            width: 1080px;
            margin: auto;
        }
    }
    h2 {
        padding: 54px 0 20px 20px;
        @media (min-width: 1440px) {
            padding: 30px 0 8px;
        }
    }
    a {
        color: $color-black;
        text-decoration: none;
    }
    img {
        height: 174px;
        margin: 0 17px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
        @media (min-width: 1440px) {
            width: 490px;
            margin: 0;
        }
    }
    &__item {
        &__new {
            font-size: 14px;
            font-weight: 500;
            color: $color-new;
            text-align: center;
            padding: 7px 9px;
            background-color: $color-tertiaire;
            border-radius: 2px;
            box-shadow: 0px 2px 4px lighten($color-black, 15%);
            position: absolute;
            right: 31px;
            top: 13px;
            @media (min-width: 1440px) {
                position: absolute;
                right: 18px;
                top: 40px;
            }
        }
    }
    &__page {
        @media (min-width: 1440px) {
            display: grid;
            grid-template-columns: 490px 490px;
            gap: 0 100px;
            justify-content: center;
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        @media (min-width: 1440px) {
            width: 490px;
            margin: 20px 0 30px;
        }
        &__content {
            height: 77px;
            margin: 0 17px 17px;
            border-radius: 0 0 15px 15px;
            background: $color-white;
            @media (min-width: 1440px) {
                width: 490px;
                margin: 0;
            }
            &__list {
                width: 80%;
                margin-left: 13px;
                h3 {
                    font-size: 18px;
                    font-weight: 900;
                    padding-top: 16px;
                }
                p {
                    font-size: 17px;
                    font-weight: 300;
                    margin-top: 5px;
                }
            }
            
        }
    }
}
.loader {
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    position: fixed;
    animation: hideden-loader 3000ms forwards;
    
    z-index: 1;
    & > p {
        font-size: 40px;
        font-weight: 700;
        width: 240px;
        padding-top: 40vh;
        color: $color-black;
        margin: auto;
        padding-bottom: 30px;
    }
    &__item {
        display: block;
        font-size: 60px;
        width: 61px;
        margin: auto;
        background-image: $color-gradient-heart;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: heart-loader 1000ms ease-in-out infinite;
    }
}