.titre {
    display: flex;
    justify-content: center;
}
form h2 {
    width: 275px;
    font-weight: 700;
    height: 68px;
    text-align: center;
    margin: 39px 0 0;
}
form p {
    font-size: 18px;
    width: 315px;
    height: 46px;
    text-align: center;
    margin: 0 0 27px;
}
.fonction h2 {
    margin: 48px 0 26px 20px;
}
.fonction-flex {
    display: flex;
    flex-direction: column;
}