    $color-primaire: #9356DC;
    $color-secondaire: #FF79DA;
    $color-tertiaire: #99E2D0;
    $color-form: #EAEAEA;
    $color-white: #FFFFFF;
    $color-black: #000000;
    $color-footer: #353535;
    $color-body: #D2D2D2;