    $color-primaire: #9356DC;
    $color-secondaire: #FF79DA;
    $color-tertiaire: #99E2D0;
    $color-form: #EAEAEA;
    $color-white: #FFFFFF;
    $color-black: #000000;
    $color-footer: #353535;
    $color-body: #F7F7F7;
    $color-new:#008766;
    $color-gradient-button:linear-gradient(to top, $color-primaire, $color-secondaire);
    $color-gradient-heart:linear-gradient(to bottom, $color-primaire, $color-secondaire);
    $fond-family-title:'Shrikhand';